@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS:wght@400;700&display=swap');


/* Variables for the base theme */
:root {
  /* Font Settings */
  --user-font-family: 'Lexend', sans-serif;
  --user-font-size: 12pt;

  /* Color Theme Light (Default) */
  --color-html: #FFFDD0;
  --color-background: #f5f5f5;
  --color-text: #1d1d1d;
  --color-shadow: var(--color-text);

  /* Other Themes: not active unless overridden */
  --color-html-black: #000000;
  --color-background-dark-gray: #1d1d1d;
  --color-text-light: #f5f5f5;
  --color-shadow-grey: #535353;

  --color-background-sepia: #fbf0d9;
  --color-text-sepia: #4f432b;

  --color-button-primary: #ffbe4e;
  --color-button: var(--color-button-primary);

  /* Additional Colors */
  --yellow: #ffbe4e;
  --dark: #1d1d1d;
  --white: #ffffff;

  --gray: #f5f5f5;
  --black: #000000;
  --dark-gray: #1d1d1d;

  --sepia: #fbf0d9;
  --text-sepia: #4f432b;
}

:root.light {
  --color-html: var(--white);
  --color-background: var(--gray);
  --color-text: var(--dark);
  --color-button: var(--yellow);
  --color-button-text: var(--dark);
}

:root.dark {
  --color-html: var(--black);
  --color-background: var(--dark-gray);
  --color-text: var(--gray);
  --color-button: var(--yellow);
  --color-button-text: var(--dark);
}

:root.sepia {
  --color-html: var(--color-html);
  --color-background: var(--color-background-sepia);
  --color-text: var(--color-text-sepia);
  --color-button: var(--color-button-primary);
  --color-button-text: var(--color-text-sepia);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--user-font-family), sans-serif;
  font-size: var(--user-font-size);
  height: 100%;
}

html {
  background-color: var(--color-html);
  padding: 10px;
  height: 100%;
  padding-bottom: 0px;
}

button {
  font-family: var(--user-font-family);
  color: var(--color-button-text);
  padding: 15px 10px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid var(--color-text);
  background: transparent;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--color-button);
  color: var(--color-text);
  transition: 0.2s ease-in-out;
  box-shadow:
    var(--color-shadow-gray, rgba(0, 0, 0, 0.16)) 0px 3px 6px,
    var(--color-shadow-gray, rgba(0, 0, 0, 0.16)) 0px 3px 6px;
}

.button-primary {
  inherits: button;
  background-color: var(--color-button);
  color: var(--color-text);
  border: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--color-text);
}
