@import './base.css';

#app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
  }
}

.container-div {
  border-radius: 15px;
  background-color: var(--color-background);
  margin-top: 15px;
  padding: 15px 45px;
}

.settings-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-image: var(--setting-icon);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
