@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS:wght@400;700&display=swap');

:root {
  /* Font Settings */
  --user-font-family: 'Lexend', sans-serif;
  --user-font-size: 12pt;
  --user-line-height: 2;
  --user-letter-spacing: 0.1rem;

  --color-background: #FFE5B4;
  --container-background: #f5f5f5;
  --color-text: #1d1d1d;
  --color-shadow: var(--color-text);
}

body {
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: var(--user-line-height);
  font-family: var(--user-font-family), sans-serif;
  font-size: var(--user-font-size);
  letter-spacing: var(--user-letter-spacing);
  height: 100%;
}

html {
  background-color: var(--color-background);
  padding: 10px;
  height: 100%;
  padding-bottom: 0px;
}

#app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
  }
}

.container-div {
  border-radius: 15px;
  background-color: var(--container-background);
  margin: 10px;
  padding: 15px 45px;
}

.dropdown {
  color: var(--color-text);
  padding: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

button {
  font-family: var(--user-font-family);
  color: var(--color-text);
  padding: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--color-button);
  color: var(--color-text);
  transition: 0.2s ease-in-out;
  box-shadow:
    var(--color-shadow-gray, rgba(0, 0, 0, 0.16)) 0px 3px 6px,
    var(--color-shadow-gray, rgba(0, 0, 0, 0.16)) 0px 3px 6px;
}

.button-primary {
  inherits: button;
  background-color: var(--color-button);
  color: var(--color-text);
  border: none;
}
